<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
	<title>File Encryption</title>

</head>
<body>
	<div class="center">
		<h1> Uploading and Returning Files With a Database in Flask </h1>
		<form method="POST" action="/home" enctype="multipart/form-data">
			<input class="ok" type="file" name="file">
			<button class="op">Upload</button>
		</form>

		{% if files %}
        <ul>
			{% for file in files %}
				<li>
					{{ file.filename }}
					(Uploaded by: {{ file.user.username }})
					<a href="{{ url_for('download_file', upload_id=file.id) }}">Download</a>
				</li>
			{% else %}
				<li>No files uploaded yet.</li>
			{% endfor %}
		</ul>
		{% endif %}

	</div>
	
</body>
</html>
